



.board-row:after {
  clear: both;
  content: "";
  display: table;
}


.white-square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 68px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.black-square {
  background: #000;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 68px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.red-piece {
  background: red;
  border-radius: 100%;
  height: 62px;
  width: 62px;
  margin-left: 2px;
  margin-top: 2px;
}

.gray-piece {
  background: rgb(179, 179, 179);
  border-radius: 100%;
  height: 62px;
  width: 62px;
  margin-left: 2px;
  margin-top: 2px;
}

.queen-gray-piece {
  background: rgb(179, 179, 179);
  top: 0px;
  left: 10px;
  width: 46px;
  height: 46px;
  position: relative;
  text-align: center;
}
.queen-gray-piece:before,
.queen-gray-piece:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 46px;
  width: 46px;
  background: rgb(179, 179, 179);
}
.queen-gray-piece:before {
  transform: rotate(30deg);
}
.queen-gray-piece:after {
  transform: rotate(60deg);
}

.queen-red-piece {
  background: red;
  top: 0px;
  left: 10px;
  width: 46px;
  height: 46px;
  position: relative;
  text-align: center;
}
.queen-red-piece:before,
.queen-red-piece:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 46px;
  width: 46px;
  background: red;
}
.queen-red-piece:before {
  transform: rotate(30deg);
}
.queen-red-piece:after {
  transform: rotate(60deg);
}



.selected-gray-piece {
  background: rgb(128, 91, 175);
  border-radius: 100%;
  height: 62px;
  width: 62px;
  margin-left: 2px;
  margin-top: 2px;
}

.selected-red-piece {
  background: rgb(158, 0, 158);
  border-radius: 100%;
  height: 62px;
  width: 62px;
  margin-left: 2px;
  margin-top: 2px;
}


.selected-queen-gray-piece {
  background: rgb(128, 91, 175);
  top: 0px;
  left: 10px;
  width: 46px;
  height: 46px;
  position: relative;
  text-align: center;
}
.selected-queen-gray-piece:before,
.selected-queen-gray-piece:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 46px;
  width: 46px;
  background: rgb(128, 91, 175);
}
.selected-queen-gray-piece:before {
  transform: rotate(30deg);
}
.selected-queen-gray-piece:after {
  transform: rotate(60deg);
}

.selected-queen-red-piece {
  background: rgb(158, 0, 158);
  top: 0px;
  left: 10px;
  width: 46px;
  height: 46px;
  position: relative;
  text-align: center;
}
.selected-queen-red-piece:before,
.selected-queen-red-piece:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 46px;
  width: 46px;
  background: rgb(158, 0, 158);
}
.selected-queen-red-piece:before {
  transform: rotate(30deg);
}
.selected-queen-red-piece:after {
  transform: rotate(60deg);
}

.null-piece {
  border-radius: 100%;
  height: 62px;
  width: 62px;
  margin-left: 2px;
  margin-top: 2px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  font-size: 40px;
}
